<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <h2>Form validation</h2>
  </div>
</nav>

<div class="container mt-5">
  <h1 class="text-center">{{confirmMessage}}</h1>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
  <div class="form-area">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="col-xs-3">
          <label class="form-lable">*First Name</label>
          <input
            class="form-control"
            type="text"
            required
            name="firstName"
            formControlName="firstName"
            [ngClass]="{ 'is-invalid': firstname.touched && firstname.invalid }"
          />
        </div>
      </div>
      <div
        class=" alertmessage p-1"
        *ngIf="firstname.touched && firstname.invalid"
      >
        <div *ngIf="firstname.errors?.['required']">First name is required</div>
        <div *ngIf="firstname.errors?.['minlength']">
          First contain minimum(3) letters
        </div>
      </div>
      <div class="form-group">
        <label class="form-lable">*LastName</label>
        <input
          class="form-control"
          type="text"
          required
          name="lastName"
          formControlName="lastName"
          [ngClass]="{ 'is-invalid': lastname.touched && lastname.invalid }"
        />
      </div>
      <div
        class="alertmessage p-1"
        *ngIf="lastname.touched && lastname.invalid"
      >
        <div *ngIf="lastname.errors?.['required']">Last name is required</div>
        <div *ngIf="lastname.errors?.['minlength']">
          Last name contain minimum 1 letter
        </div>
      </div>
      <div class="form-group">
        <label class="form-lable">*Email</label>
        <input
          class="form-control"
          type="email"
          required
          name="email"
          formControlName="email"
          [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
        />
      </div>
      <div class="alertmessage p-1" *ngIf="email.touched && email.invalid">
        <div *ngIf="email.errors?.['required']">Email is required</div>
        <div *ngIf="email.errors?.['email']">Enter valid email</div>
      </div>
      <div class="form-group">
        <label class="form-lable">*MobileNo</label>
        <input
          class="form-control"
          type="number"
          required
          name="mobileNo"
          formControlName="mobileNo"
          [ngClass]="{ 'is-invalid': mobileno.touched && mobileno.invalid }"
        />
      </div>
      <div
        class="alertmessage p-1"
        *ngIf="mobileno.touched && mobileno.invalid"
      >
        <div *ngIf="mobileno.errors?.['required']">MobileNo is required</div>
        <div *ngIf="mobileno.errors?.['pattern']">Enter valid mobile no</div>
      </div>
      <div class="form-group">
        <label class="form-lable">*Password</label>
        <input
          class="form-control"
          type="password"
          required
          name="password"
          formControlName="password"
          [ngClass]="{ 'is-invalid': password.touched && password.invalid }"
        />
      </div>
      <div
        class="alertmessage p-1"
        *ngIf="password.touched && password.invalid"
      >
        <div *ngIf="password.errors?.['required']">Password is required</div>
        <div *ngIf="password.errors?.['pattern']">
          Should contain minlength(8) atleast one uppercase lowercase number and
          special character(!#$<span>&#64;</span>%&.)
        </div>
      </div>
      <div class="form-group">
        <label class="form-lable">*ConfirmPassword</label>
        <input
          class="form-control"
          type="text"
          required
          name="ConfirmPassword"
          formControlName="confirmPassword"
          [ngClass]="{ 'is-invalid': confirmpassword.touched && confirmpassword.invalid }"
        />
      </div>
      <div
        class="alertmessage p-1"
        *ngIf="confirmpassword.touched && confirmpassword.invalid"
      >
        <div *ngIf="confirmpassword.errors?.['required']">
          Confirm Password is required
        </div>
        <div *ngIf="confirmpassword.errors?.['passwordMismatch']">
          Passwords did't match
        </div>
      </div>
      <button class="btn" type="submit" [disabled]="form.invalid">Submit</button>
      <button class="btn" type="reset" (click)="resetData()">Reset</button>
    </form>
  </div>
  </div>
  </div>
</div>
